body {
    padding: 0;
    margin: 0;
    /* font-family: "Noto Sans", sans-serif; */
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ECF4E8;
}

#layout_project {
    width: 100%;
    height: 100vh;
}

#project_navbar, #project_footer {
    width: 100%;
    height: 10vh;
    background-color: #93BFC7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#project_main {
    width: 100%;
    height: 80vh;
    background-color: #CBF3BB;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#box1, #box3 {
    width: 10%;
    height: 100%;
    background-color: #ABE7B2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#box2 {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 800px) {
    body {
        height: 110vh;
    }
    #project_main {
        flex-direction: column;
        height: 110vh;
    }
    #box1 {
        width: 100%;
        height: auto;
    }
    #box3 {
        display: none;
    }
}


